<div id="psychic_edit_profile_modal" class="modal large">
  <header>
    <h1>Profile Information</h1>
  </header>

  <div class="scrollbar_modal">
    <div class="scrollbar"><div class="track"><div class="thumb"><div class=  "end"></div></div></div></div>
    <div class="viewport">
      <div class="overview">
        <div class="modal-body">
          <%= render "psychics/modals/edit_profile_form", psychic: @psychic %>
        </div>
      </div>
    </div>
  </div>
</div>
