@import "main/helpers";

.profile-psychic {
  border-right: 1px solid #cccccc;
  text-align: left;

  h3 {
    @include bold-font(20px);
    color: #5d687a;
  }

  .alias {
    @include regular-font(12px);
    color: #5d687a;
    margin-top: 5px;

    span {
      color: #3f4955;
      font-weight: 600;
    }
  }

  .status {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .your-number {
    @include thin-font(22px);
    color: #687689;
  }

  .extension {
    font-weight: 400;
  }

  .edit-profile {
    margin-top: 25px;

    a {
      @include thin-font(19px);
      color: #1578ff;
      display: block;
      text-decoration: none;
    }

    a:before {
      background: url(image_path('psychic-edit-profile.png')) no-repeat right -5px bottom 20px;
      content: "";
      margin: 0 5px 0 0;
      padding: 0 35px 35px 0;
    }
  }
}

.profile-current-rate {
  // background: url(image_path('psychic-current-tier-bg.png')) no-repeat center top;
  // padding-top: 200px;
  width: 285px;

  p {
    @include regular-font(14px);
    color: #687689;
    line-height: 2em;

    .rate {
      @include bold-font(40px);
      color: #3f4955;
      display: block;
    }
  }
}

.psychic-profile-tier-image {
  height: 198px;
  width: 198px;
  // padding: 54px;
  margin-bottom: 20px;
}

.psychic-action-item {
  height: 190px;
  width: 240px;
}

.total-calls {
  background-image: url(image_path('total-calls.png'));
}

.total-minutes {
  background-image: url(image_path('total-minutes.png'));
}

.average-minutes {
  background-image: url(image_path('average-minutes.png'));
}

.total-pay-percentage {
  background-image: url(image_path('total-pay-percentage.png'));
}

.psychic-badge {
  right: 35px;
}

.total-calls-badge {
  right: 60px;
}

.about-psychic-container {
  @extend %clearfix;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-item {
  float: left;

  h2 {
    @include thin-font(35px);
    color: #5d687a;
    padding-bottom: 50px;
  }
}

.my-bio {
  text-align: left;
  width: 415px;

  p {
    @include regular-font(14px);
    border-right: 1px solid #c2c2c2;
    color: #687689;
    padding-right: 20px;
  }
}

.my-expertises {
  padding-left: 20px;

  .area {
    float: left;
    margin-right: 50px;

    h3 {
      @include bold-font(18px);
      color: #3f4955;
      padding-bottom: 25px;
    }

    ul {
      list-style-type: none;
    }

    li {
      @include regular-font(12px);
      color: #687689;
      padding-bottom: 10px;

      &.highlighted {
        color: #40b500;
      }
    }
  }

  .area:last-child {
    margin-right: 0;
  }
}

.psychic-call-history-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.psychic-schedule-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

table.schedules {
  border-collapse: collapse;
  border-spacing: 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 5px 5px #ccc;
  -moz-box-shadow: 0px 5px 5px #ccc;
  box-shadow: 0px 5px 5px #ccc;
  width: 100%;

  th {
    @include thin-font(22px);
    background: #af00a5;
    color: #fff;
  }

  td {
    @include thin-font(20px);
    color: #8590a1;
    text-align: center;
  }

  th, td {
    padding: 2%;
    text-align: center;
    vertical-align: middle;
  }

  td.schedule-time {
    text-align: left;
    width: 292px;
  }

  th:first-child {
    -moz-border-radius: 9px 0 0 0;
    -webkit-border-radius: 9px 0 0 0;
    border-radius: 9px 0 0 0;
  }

  th:last-child {
    -moz-border-radius: 0 9px 0 0;
    -webkit-border-radius: 0 9px 0 0;
    border-radius: 0 9px 0 0;
  }

  tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 9px;
    -webkit-border-radius: 0 0 0 9px;
    border-radius: 0 0 0 9px;
  }

  tr:last-child td:last-child {
    -moz-border-radius: 0 0 9px 0;
    -webkit-border-radius: 0 0 9px 0;
    border-radius: 0 0 9px 0;
  }

  tr.date-row td.upcoming-date {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background: #eee;
  }

  tr.first-schedule {
    border-top: 1px solid #ddd;
  }

  tr.zebra {
    background: #f3f5f6;
  }

  tfoot {
    border-top: 1px solid #ddd;
  }
}

.upcoming-date {
  a {
    color: #8590a1;
    display: block;
    text-decoration: none;
  }

  a:after {
    background: url(image_path('add-green.png')) no-repeat right 0 top 2px;
    content: "";
    padding: 0 40px 1px 0;
  }
}

.upcoming-time {
  @include regular-font(14px);
  background: #bac4d2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  height: 40px;
  vertical-align: middle;
  width: 120px;
  position: relative;
  padding-left: 30px;
  text-align: left;
  display: inline-block;
  cursor: pointer;
  margin-left: 70px;

  span.time {
    line-height: 40px;
    vertical-align: middle;
  }

  img.time-icon {
    position: absolute;
    right: 10px;
    top: 0px;
    border-left: 2px solid #96a4ba;
    height: 22px;
    width: 22px;
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 8px;
  }
}

.psychic-invoices-container {
  margin-top: 50px;
  margin-bottom: 50px;

  a {
    @include thin-font(20px);
    color: #8590a1;
  }
}

.psychic-reviews-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-reviews {
  position: relative;
  text-align: center;

  h2 {
    display: inline-block;
  }
}

.my-reviews-badge {
  @include bold-font(30px);
  background: #6acd00;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin-left: 10px;
  text-align: center;
  width: 50px;
}

.review-date {
  display: block;
}

.psychic-blank {
  padding: 80px;
  color: #8590a1;
  text-align: center;
}

.popnomore {
  display:none;
}

.popover {
  position: relative;
  display: none;
  cursor: auto;
}

.popover-arrow {
  position: absolute;
  margin-top: 5px;
  margin-left: 187px;
  z-index: 100;
}

.popover-content {
  background: #fff;
  border: 1px solid #e1e7ef;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 310px;
  top: 15px;
  left: -10px;
  z-index: 99;
}

.popover-content:before {
  border-color: rgba(30, 126, 15, 0);
  border-bottom-color: #fff;
  border-width: 16px;
  margin-left: -16px;
}

input.toggle {
  display: none;
}

input.toggle + label {
  display: inline-block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 40px;
  width: 90px;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 15px;
}

input.toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 40px;
  width: 90px;
  top: 0;
  left: 0;
  border-radius: 50px;
  background: rgba(19,191,17,0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input.toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0px;
  border-radius: 50px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input.toggle:checked + label:before {
  width: 90px;
  background: rgba(19,191,17,1);
}

input.toggle:checked + label:after {
  left: 50px;
  box-shadow: inset 0 0 0 1px rgba(19,191,17,1), 0 2px 4px rgba(0,0,0,.2);
}

.psychic-schedule-container {
  input[type="text"] {
    border: 2px solid #e1e7ef;
    background-color: #e1e7ef;
    border-radius: 4px;
    padding: 8px;
    color: #8590a1;
    font-size: 18px;
    width: 70px;
    outline: none;
    margin: 0px;
    vertical-align: top;
    text-align: center;
  }

  input[type="text"] + input[type="text"] {
    margin-left: 15px;
  }

  input::-webkit-input-placeholder { /* WebKit browsers */
    color: #8590a1;
    text-transform: uppercase;
  }

  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #8590a1;
    text-transform: uppercase;
  }

  input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #8590a1;
    text-transform: uppercase;
  }

  input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #8590a1;
    text-transform: uppercase;
  }
}
