#psychic-details {
  .container_12 {
    width: 970px;
  }

  .container_12 > section,
  .container_12 > article {
    margin: 100px 0px;
  }

  .container_12 > section > h1,
  .container_12 > article > h1 {
    font-size: 35px;
    font-weight: 300;
    color: #5d687a;
    text-align: center;
    margin-bottom: 50px;
    b { color: black; }
  }
}