<div class="confirmation container_12">
  <p>
    Thank you for your interest in joining the I HEART PSYCHICS family.
    Your application has been received and will be reviewed by our
    Human Resources department.  Please allow a few business days for a
    response.  If you have not received a response to your inquiry by
    seven business days, please feel free to contact us at
    <a href="mailto:recruiting@iheartpsychics.com">recruiting@iheartpsychics.com</a> and an IHP representative will contact
    you shortly thereafter.
  </p>

  <p>Thank you again for your submission and good luck.</p>

  <p>
    Sincerely,<br>
    The I HEART PSYCHICS team<br>
    www.iheartpsychics.co
  </p>
</div>

<section class="back">
  <%= link_to "Back", root_url, class: "last" %>
</section>
