<div id="password_modal" class="modal medium">
  <header>
    <h1>My Password</h1>
  </header>

  <%= render "clients/modals/spinner" %>
  
  <%= render "clients/modals/password_form", user: current_user %>
</div>