<div id="phone_modal" class="modal medium">
  <header>
    <h1>My Phone</h1>
  </header>

  <%= render "clients/modals/spinner" %>
  
  <%= render "client_phones/modal_form", phone: @edit_phone %>
</div>