<div id="pin_modal" class="modal medium" data-pin="<%= @client.pin %>">
  <header>
    <h1>My Pin</h1>
  </header>

  <%= render "clients/modals/spinner" %>
  
  <%= render "clients/modals/pin_form", client: @client %>
</div>
