<div class="apna container_12">
  <h1>Applicant Privacy Notice for Application</h1>
  <p align="center">Effective October 1, 2013</p>

  <p>
  BD Entertainment dba I Heart Psychics (“we” or “us”) values your trust and is committed to the responsible management, use and protection of personal information. This Privacy Notice ("Notice") is applicable to all the information collected by us from you during your use of our iheartpsychics.co (the" Site").
  </p>

  <p>
    <h2>Your Consent</h2>

    Please read this Notice carefully and indicate your acceptance of our collection, use, transfer, and disclosure of personal information as described in this Notice by clicking the "I Accept" button at the end of the Notice.  If you do not accept the terms you will not be allowed access to apply for qualification as an independent psychic advisor. BD Entertainment will take appropriate technical, organizational, and legal steps to secure personal information about you.
  </p>

  <p>
    <h2>Information You Provide</h2>

    This Notice covers any personal information you submit through the Site as part of the independent psychic advisor pre-qualification process, including:

    <ul>
      <li>name, contact information;</li>
      <li>previous work experience and related information;</li>
      <li>awards and professional memberships;</li>
      <li>eligibility to work, available start date; and</li>
      <li>information relating to references.</li>
    </ul>
  </p>

  <p>
    You may also voluntarily choose to provide other relevant information as part of your pre-qualification application.  Please do not submit any of the following sensitive information unless specifically requested:  Social Security number, sexual orientation, race, ethnic origin, religion, beliefs, disability, marital status, creed, nationality, national origin, color and/or age.
  </p>

  <p>
  If you intend to provide us with details of a reference or any other third party as part of your CV/résumé, it is your responsibility to obtain consent from that third party prior to passing the personal information to us.
  <br>
  You are responsible for the content of the information you provide to us and you must ensure it is legal, truthful, accurate and not misleading in any way and does not infringe on any third party's rights, or is not otherwise legally actionable by such third party.
  </p>

  <p>
    <h2>Use of Personal Information</h2>
    Personal information you provide through the Site will be collected, used, transferred and disclosed for independent psychic advisor qualification purposes.  We will use the personal information you provide, as permitted by applicable law, to:
    • process your pre-qualification application;
    • assess your capabilities and qualifications;
    • provide to you any services available on the Site from time to time;
    • communicate with you;
    • comply with any applicable law or regulation;
    • prepare internal reports and metrics;
    • conduct background checks, conduct reference checks and/or verify employment history, and other activities related to the independent psychic advisor qualification process.
  </p>

  <p>
    Personal information about you will be used for the purposes of pre-qualification purposes, and if you are qualified to provide services on behalf of California Psychics, for other related purposes.
  </p>

  <p>
    <h2>Disclosure of Personal Information</h2>
    Personal information about you will be reviewed by our employees or agents who have a business need to access such personal information.  It will not be shared with third parties for purposes unrelated to your qualification as an independent psychic advisor.
  </p>

  <p>
    We may share personal information about you with selected service providers or consultants acting on our behalf, including our service provider, ________ and information provided in the pre-qualification application process is stored on _________ and other third parties acting on our behalf, are required to protect personal information.
    <br>
    We also may disclose personal information about you in order to:  (1) protect the legal rights, privacy or safety of the company or its employees, agents and contractors; (2) protect the safety and security of visitors to our web sites or other properties; (3) protect against fraud or other illegal activity or for risk management purposes; (4) respond to inquiries or requests from government or public authorities; (5)  pursue available remedies or limit the damages that we may sustain; (6) enforce our terms of service; or (7) comply with the law or legal process.
  </p>

  <p>
    We also may transfer any and all information that we collect about you to third parties in the event of any merger, sale, joint venture, assignment, transfer or other disposition of all or any portion of our assets or stock (including without limitation in connection with any bankruptcy or similar proceedings).
  </p>

  <p>
    <h2>Data Retention</h2>
    We will not retain your personal information longer than is necessary for the purposes for which it is collected, or as required by applicable laws and regulations.
  </p>

  <p>
    <h2>Passive Information Collection:  Cookies and Similar Technology</h2>
    We and our service providers may use "cookies" and similar technologies on the Site.  Cookies are data that a web server transfers to an individual's computer for recordkeeping purposes.  We use cookies and other technologies to better serve you with more tailored information and facilitate your ongoing access to and use of our Site.  If you do not want information collected through the use of cookies, there is a simple procedure in most browsers that allows you to automatically decline cookies, or to be given the choice of declining or accepting the transfer of a particular cookie, or cookies from a particular web site, to your computer.  To learn more about cookies, please visit http://www.allaboutcookies.org/.
  </p>

  <p>
    <h2>Security</h2>
    We take reasonable precautions to safeguard the personal information transmitted between visitors and the Site and the personal information stored on our servers.  Unfortunately, no method of transmitting or storing data can be guaranteed to be 100% secure.  Do not send sensitive information via email. It is your sole responsibility to use the appropriate level of care whenever communicating with us.
  </p>

  <p>
    <h2>Links to other websites</h2>
    The Site may contain links to other websites.  The operators of those other websites may collect information about you, through cookies or other technologies.  If you link to another website, you will leave the Site and this Notice will not apply to your use of and activity on those other sites.
  </p>

  <p>
    <h2>Changes to the Notice</h2>
    We reserve the right to amend this Notice at any time in order to address future developments of I Heart Psychics, the Site or changes in industry or legal trends.  We will post the revised Notice on the Site or announce the change on the homepage of the Site.  You can determine when the Notice was revised by referring to the "Last Updated" legend on the top of this Notice.  Any changes will become effective upon the posting of the revised Notice on the Site.  By continuing to use the Site following such changes, you will be deemed to have agreed to such changes.  If you do not agree with the terms of this Notice, in whole or part, you can choose to not continue to use the Site.
  </p>

  <p>
    <h2>Contact Us</h2>
    If you have questions or requests, please feel free to contact us at support@iheartpsychic.co
  </p>
</div>
