<section class="confirmation small_container">
  <h1>Thank you for your interest in joining the I HEART PSYCHICS family.</h1>

  <p>
    Your application has been received and will be reviewed by our
    Human Resources department. Please allow a few business days for a
    response. If you have not received a response to your inquiry by
    seven business days, please feel free to contact us at
    <a href="mailto:recruiting@iheartpsychics.com" class="inner-link">recruiting@iheartpsychics.com</a> and an IHP representative will contact you shortly thereafter.
  </p>

  <p>Thank you again for your submission and good luck.</p>

  <p>
    Sincerely,<br>
    The I HEART PSYCHICS team
  </p>
</section>
