<section class="dictionary small_container">

  <h1>Dictionary</h1>

  <p>
    <span>Ascension</span> - The process of an ordinary human, but who has undergone a series of spiritual transformations originally called initiations.
  </p>

  <p>
    <span>Ascendant</span> - or rising sign, is the zodiacal sign and degree that was ascending on the eastern horizon at the specific time and location of an event.
  </p>

  <p>
    <span>Aspect</span> - indicates the timing of transitions and developmental changes in the lives of people and affairs relative to the Earth.
  </p>

  <p>
    <span>Air Signs</span> - The three air signs of the zodiac are Gemini, Libra and Aquarius. Air Signs are communicative, intellectual and have clarity of thought. People with an abundance of Air in their chart tend to have their head in the clouds.
  </p>

  <p>
    <span>Automatic Writing</span> - Writing produced from a subconscious, and/or external and/or spiritual source without conscious awareness of the content.
  </p>

  <p>
    <span>Affirmation</span> - is a declaration that something is true. An out loud declaration that rids a person of negative energies.
  </p>

  <p>
    <span>Afterlife</span> - The non-physical world, which we occupy when we are no longer alive.
  </p>

  <p>
    <span>Archangel</span> - The highest ranking angel.
  </p>

  <p>
    <span>Aura</span> - Everything present in nature has an aura – an envelope of energy that radiates from within. An aura is not visible to the normal eye but generally can be seen by Clairvoyants as a multi colored mist or halo of light.
  </p>

  <p>
    <span>Astral Plane</span> - An astral plane is a level of awareness in the etheric world. It acts as a double of the earth with a notable exception – everything is neutral. It is a place where soul minds can meet and change forms.
  </p>

  <p>
    <span>Astrologer</span> - Typically an astrologer draws a horoscope for the time of an event, such as a person's birth, and interprets celestial points and their placements at the time of the event to better understand someone, determine the auspiciousness of an undertaking's beginning, etc.
  </p>

  <p>
    <span>Beyond</span> - A term that is used to define all that exists and happens outside the physical world.
  </p>

  <p>
    <span>Bibliomancy</span> - Predicting the future by selecting a random page from a book or sacred writing and interpreting the writing.
  </p>

  <p>
    <span>Birth Chart</span> - A birth chart is a basic tool of astrology which uses the date, time and place of an individual’s birth to show the positions of the planets in the signs and houses at the time of birth.
  </p>

  <p>
    <span>Cardinal Sign</span> - The Cardinal signs are Aries, Cancer, Libra and Capricorn. Cardinal signs are the initiators of the zodiac who are associated with getting the ball rolling – but also being impulsive.
  </p>

  <p>
    <span>Cartomancy</span> - A divination method that uses playing cards to interpret past, present and future.
  </p>

  <p>
    <span>Chakra</span> - According to Tantric philosophy and Yoga, chakra is the Sanskrit word for ‘moving wheel.’ The chakras are vortexes of energy present in the energy centers of the body. The chakras are not physical, but they function as pathways for energy to be taken in. There are seven such chakras and each one is associated with a section of the body, as well as assigned emotions, thoughts and functions within the body. Chakras are assigned a color, which is displayed in a person’s aura, and can help to reveal a person’s spiritual and physical health, as well as one’s karma.
  </p>

  <p>
    <span>Channeler</span> - A channeler is someone who receives messages of advice and teachings from a spirit guide. The channeler’s relationship is a direct, beneficial one. A guardian angel serves to protect a person from harm and a spirit guide provides guidance and knowledge in order to help further one’s path to spiritual enlightenment.
  </p>

  <p>
    <span>Chi</span> - Also known as “Qi”, taken from Chinese medicine and philosophy, the vital life force energy that flows through all living things.
  </p>

  <p>
    <span>Clairaudience</span> - Clairaudience is defined as one’s inner voice – translated it means ‘clear hearing.’ This is the power to hear sounds that are not audible to the normal human ear, but exist in the tangible world or in another dimension.
  </p>

  <p>
    <span>Clairsentience</span> - Clairsentience means ‘clear knowing’ or ‘clear thinking,’ and signifies your inner sensing. Those with this ability can perceive information out of the range of ordinary perception. It is not tied to one specific sense and can manifest as feelings, sensations or smells. It’s the subtlest way of receiving psychic messages, and many people may not even be aware it is happening and explain it away as a revelation.
  </p>

  <p>
    <span>Clairvoyance</span> - This term is often used as a catch-all phrase for psychic ability, but it really describes one’s inner vision. Clairvoyance is a French term which translates to ‘clear seeing.’ It’s the ability to ‘see’ what is not physically in front of you, in the form of an image or event in the past, present or future.
  </p>

  <p>
    <span>Coincidence</span> - is a collection of two or more events or conditions, closely related by time, space, form, or other associations which appear unlikely to bear a relationship as either cause to effect or effects of a shared cause, within the observer's or observers' understanding of what cause can produce what effects.
  </p>

  <p>
    <span>Consciousness</span> - The part of our minds that allows us to be aware of ourselves and things outside of ourselves.
  </p>

  <p>
    <span>Cross Over</span> - A point in time when a person or animal dies and leaves the physical word for the spiritual world.
  </p>

  <p>
    <span>Conjunct</span> - Two planets are conjunct when they occupy the same degree of the birth chart.
  </p>

  <p>
    <span>Cusp</span> - Cusps are the imaginary boundaries between zodiac signs and the houses.
  </p>

  <p>
    <span>Dream Interpretation</span> -  is the process of assigning meaning to dreams.
  </p>

  <p>
    <span>Deja Vu</span> - is the phenomenon of having the strong sensation that an event or experience currently being experienced has been experienced in the past, whether it has actually happened or not.
  </p>

  <p>
    <span>Divination</span> - Divination is an attempt to communicate with the Divine or the supernatural in an effort to foretell the future and seek answers to questions or mysteries. Divination has traditionally been the chore of Shamans, oracles, priests, prophets or psychics by a variety of methods such as the use of the Tarot, Astrology, Ouija Board, runes etc.
  </p>

  <p>
    <span>Earth Bound Spirits</span> - A deceased person's soul, whose energy lingers in the physical world and has not yet crossed over into the spiritual realm.  These spirits stay earthbound for many reasons.
  </p>

  <p>
    <span>Earth Signs</span> - The three earth signs include Taurus, Virgo and Capricorn. Earth signs are sensual and love luxury. They are industrious and get the job done.
  </p>

  <p>
    <span>Elements</span> - Also known as triplicity, the elements are Fire, Earth, Air and Water. The twelve signs of the zodiac are divided amongst the elements: Aries, Leo and Sagittarius are Fire; Capricorn, Taurus and Virgo are Earth; Libra, Aquarius and Gemini are Air; Cancer, Scorpio, and Pisces are Water.
  </p>

  <p>
    <span>Empath</span> - Empaths are very susceptible to the feelings of suffering and distress picked up from others. They tune in on an intuitive or psychic level to the emotions, moods and attitudes of a person, group of people or animals.
  </p>

  <p>
    <span>Ephemeris</span> - A book used by astrologers to find the exact location of any given heavenly body on any given day.
  </p>

  <p>
    <span>Energy</span> - Positive or negative vibrations, that exude from the earth, people, spirits and the universe as a whole.
  </p>

  <p>
    <span>Free Will</span> - The ability to choose a particular course of action when given multiple alternatives.
  </p>

  <p>
    <span>Fire Signs</span> - The three fire signs include Aries, Leo, and Sagittarius. Fire signs are known for their explosive, energetic nature – and fickle tendencies.
  </p>
  <p>
    <span>Fixed Signs</span> - The fixed signs are Taurus, Leo, Scorpio and Aquarius. Fixed signs are concerned with maintaining the status quo – and are known for perseverance and strength.
  </p>

  <p>
    <span>Grounding</span> - To actively focus on your connection to the earth. Useful for balancing when a person works within the psychic realm.
  </p>

  <p>
    <span>Higher Self</span> - Also known as the Divine Self; the part of us that is one with the universe and has no physical attachments.
  </p>

  <p>
    <span>Houses</span> - Like the signs of the zodiac, the sky is divided into 12 houses. Each house encompasses a specific area of life such as love, career and health.
  </p>

  <p>
    <span>Horoscope</span> - A daily, monthly or yearly prediction based on the zodiac.
  </p>

  <p>
    <span>Incarnate</span> - to become human from spirit existence.
  </p>

  <p>
    <span>IChing</span> - The 3,000-year-old I Ching has 64 hexagram configurations that comprise an entire philosophy based on the Yin and Yang principles. The aim is to achieve and maintain balance in your life via a messaging system, which involves tossing coins in sets of six. The male, or active energy of Yang, encourages actions and ideas. The female, or receptive energy, enables adaptation and flexibility.
  </p>

  <p>
    <span>Intuition</span> - Intuition is “knowing” without conscious reasoning. It draws on knowledge gained from past experience that has been stored in the subconscious mind.
  </p>

  <p>
    <span>Kabbalah</span> - Kabbalah is a form of Jewish mysticism and is actually a Hebrew word meaning “received knowledge” or “tradition.” Though its origins are debated, most believe Kabbalah to be as old as the Torah, while others maintain it did not rise until the 13th Century. Traditional Kabbalah was passed down orally and is an esoteric belief that every accent, letter, word and number in the Torah contains keys to understanding the nature of the human soul, and by extension, the universe.
  </p>

  <p>
    <span>Karma</span> - The explanation of Karma varies slightly per tradition or philosophy, but the basic principle remains the same: “You reap what you sow” … “what goes around, comes around” … or (if you prefer) “an eye for an eye.” Karmic philosophy may have its roots in religion and spirituality, but even the most scientific mind cannot dispute that, “every action causes an equal and opposite reaction” – in other words, the purpose of Karma is actually to restore balance.
  </p>

  <p>
    <span>Life Path</span> - A predetermined path or journey that follows one through life; however it can be modified to some extent by choices that the person makes.
  </p>

  <p>
    <span>Lightworker</span> - Any person who brings the Divine light to earth, and who is focused on re-connecting and transforming the higher self for the good of mankind.
  </p>

  <p>
    <span>Lucid Dreaming</span> - The awareness that one is in a dreamstate while that person is asleep.
  </p>

  <p>
    <span>Mantra</span> - Historically, a mantra is a word with spiritual significance in Hindu culture. In general, a mantra is a syllable or word without meaning that you focus on while meditating in order to achieve a deep state of relaxation. This method is used in Transcendental Meditation and it has been shown to be a very effective technique. According to the teachings of Transcendental Meditation, thinking a mantra helps you focus your attention inwardly. Regular meditation has been shown to help eliminate irritability, even reducing blood pressure. Benefits are numerous and its effects are lasting, as meditation has been known to mitigate the body’s reaction after a stressful event.
  </p>
  <p>
    <span>Meditation</span> - Meditation has been around for centuries and is a focal point of many religions. It incorporates deep thinking, contemplation and engaging in a deep mental exercise in an effort to achieve a heightened level of Spiritual awareness.
  </p>

  <p>
    <span>Medium</span> - A medium is someone who can contact loved ones who have passed from this Earth. This special ability allows him or her to communicate with the deceased individual in another realm or dimension. The death of a family member or friend can result in unresolved emotions and questions for those left behind – a psychic medium can help bring them peace.
  </p>

  <p>
    <span>Minds Eye</span> - To “see”, with the minds eye; receiving mental imagery without actual visual stimuli.
  </p>

  <p>
    <span>Mutable Sign</span> - Gemini, Virgo, Sagittarius and Pisces are the mutable signs of the zodiac. These signs are versatile and capable of prospering in any environment.
  </p>

  <p>
    <span>Natal Chart</span> - A natal chart is a basic tool of astrology which uses the date, time and place of an individual’s birth to show the positions of the planets in the signs and houses at the time of birth.
  </p>

  <p>
    <span>Numerology</span> - Like Astrology or the Tarot, Numerology is a means of divination. Through the use of numbers, Numerology tells us about the human condition and about our journey through life.
  </p>

  <p>
    <span>Omen</span> - An occurrence that is seen as a sign of good or evil.
  </p>

  <p>
    <span>Other Side</span> - also know as the spirit world
  </p>

  <p>
    <span>Past Life</span> -  is the religious or philosophical concept that the soul or spirit, after biological death, begins a new life in a new body that may be human, animal or spiritual depending on the moral quality of the previous life's actions.
  </p>

  <p>
    <span>Pendulum</span> - A pendulum is any object suspended freely from a string or chain. The universal vibrations received by the dangling object provide knowledge to the holder of the pendulum usually in the form of simple yes or no answers to the questions asked.
  </p>

  <p>
    <span>Psychic</span> - Often called a Clairvoyant, a Psychic has the ability to draw knowledge from the universal consciousness. They know without conscious reasoning and are highly intuitive. Some psychics use tools such as the Tarot, Astrology or runes to help answer questions and divine the future.
  </p>

  <p>
    <span>Querent</span> - the individual asking questions, “the one who seeks”.
  </p>

  <p>
    <span>Reincarnation</span> - (see past life)
  </p>

  <p>
    <span>Retrograde</span> - Planets in retrograde look like they are moving backwards. The energy from a retrograde can cause communication mishaps such as when Mercury is Retrograde, or can derail love when Venus is in retrograde.
  </p>

  <p>
    <span>Runes</span> - Runes are a divination tool used by some psychics in much the same way that astrology or the Tarot is used. They generally consist of clay tiles or coins with an inscription from the Runic alphabet.
  </p>

  <p>
    <span>Shamanism</span> - A member of society (priest, magician, spiritual healer, medicine man, etc.) that acts as a medium or negotiator between the physical world and the spirit world using ritual-like practices and chanting for the purpose of healing, predicting or controlling natural events.
  </p>

  <p>
    <span>Spirit</span> - The energy that continues on after a person has left the physical world, spirits have the ability to appear as they were in life, or in other forms. They can communicate to us through dreams and by transferring their emotions to and through us.
  </p>

  <p>
    <span>Spirit Guide</span> - Spirit Guides are non-physical entities which tend to be either highly evolved beings or the spirit of the dead. The purpose of these entities generally includes protecting an individual, assisting in spiritual development or as a source of inspiration. Many psychics utilize the help of spirit guides in their readings.
  </p>

  <p>
    <span>Soul</span> - The soul is the immaterial part of you that dictates your mind and personality. Depending on your particular beliefs, the soul can live on through many incarnations or exist on different ethereal planes. Soul to many is synonymous with Spirit.
  </p>

  <p>
    <span>Soul Mate</span> - A soulmate is someone you have experienced many lifetimes, learned life’s lessons, bonded with and loved. Some believe your soulmate is literally the person who carries and completes the other half of your soul.
  </p>

  <p>
    <span>Sun Sign</span> - As the Earth follows an elliptical path around the Sun, it passes through 12 constellations known collectively as the Zodiac. Your Sun Sign indicates in which constellation the Sun was positioned when you were born. It is sometimes referred to as your Birth Sign.
  </p>

  <p>
    <span>Synchronicity</span> - The belief that everything and everyone in the universe is connected by a universal force and therefore there is no coincidence. The famous Swiss Psychoanalyst, Carl Jung referred to synchronicity as “meaningful coincidence.”
  </p>

  <p>
    <span>Tarot</span> - A form of divination using a deck of 78 cards that depict images and symbols based on the Universal knowledge of humanity, including personality types, life cycles and experiences. It uses archetypal behavior patterns and the laws of synchronicity to reveal to the past, present and probable future of a particular situation.
  </p>

  <p>
    <span>Universal Consciousness</span> - The combined memory and inborn knowledge of all human experience. Carl Jung categorized it into recognizable archetypes, personalities, situations, images and metaphors that recur consistently throughout mankind’s existence. He was fascinated with the Tarot because of its depiction of human nature and its use of synchronicity to divine the future.
  </p>

  <p>
    <span>Water Signs</span> - The Water Signs include Cancer, Scorpio and Pisces. Those with lots of water in their chart are said to be highly sensitive, empathetic and emotional.
  </p>

  <p>
    <span>Yoga</span> - A spiritual discipline for achieving a state of perfect insight and tranquility through focused concentration, meditation, postures and controlled breathing. The liberation from suffering through enlightenment is a common goal of all branches.
  </p>


</section>
