<section class="ethics small_container">

  <h1>Code of Ethics</h1>

  <ul>
  <li>Never provide legal, financial or medical advice. Never supply advice that is beyond your area of expertise,    for which you are not legally licensed or accredited. We never provide health readings, pregnancy, plastic    surgery or death questions. If a customer requests this type of reading, communicate that it is against our     company policy.</li>
  <li>Never give any guidance about healing, spell work, or magic. We do not condone the use of spells, rituals,    or magic.</li>
  <li>Never engage in abusive or aggressive behavior with a client. If the client is negative and combative, refer    them to Customer Service.</li>
  <li>Adhere to all aspects of your independent contract agreement with I Heart Psychics.</li>
  <li>Never discuss or provide your personal information including contact information, social media, etc.</li>
  <li>Be professional at all times.</li>
  <li>Use your abilities wisely and for the good of all.</li>
  <li>Never use your abilities to control, manipulate or program another.</li>
  <li>Take full responsibility for your own energy, setting and running it accordingly.</li>
  <li>Accept that everyone and everything has value.</li>
  <li>Understand that you are part of everything that exists and that you have an impact on that existence      through every thought, deed and action.</li>
  <li>Remain emotionally neutral and always aware of which energy is yours and which energy is not.</li>
  <li>Never use your abilities for ego, personal gain or personal power.</li>
  <li>Deliver the psychic messages you receive with truth and integrity and without your own personal bias and    / or interpretation.</li>
  <li>Use your abilities with positive intention and positive thought.</li>
  <li>Never pass judgment on a customer.</li>
  <li>Avoid dwelling on the negative and focus on enriching the positive.</li>
  <li>Always provide hope.</li>
  <li>Never decide for the customer or impede their free will.</li>
  <li>Never create psychic dependencies. Live by the laws of autonomy and free will.</li>
  <li>Read the past and present with only a reference to the probable and possible futures of the customer, thus    allowing the customer the freedom to create their own future.</li>
  <li>Never conduct a psychic reading on a customer without their permission.</li>
  <li>Never conduct or include readings of third parties if they are not present.</li>
  <li>Always keep the customer’s information confidential.</li>
  <li>Customers are always first.</li>
  </ul>

</section>
