<section class="how-it-works small_container">

  <h1>How To Get The Best Results With Your Psychic Reading:</h1>

  <p>
    It is normal to be nervous before your first reading. Here are some tips to help you get the most positive reading experience possible.
  </p>

  <p>
    Before you call make sure you are relaxed and clearly focused on what you need to find out from the reading.  You can do this by doing some calming deep breathing while focusing in on the area you want clarity about.
    <br>Clear your mind and senses of other distractions for the duration of your reading. Turn off background music, harsh lights, sit in a quiet and private space.  Avoiding distractions helps you (and therefore the reader as well) to focus intently on the questions and answers of your reading.
  </p>

  <p>
    Form the intention in your mind to be open to the reading. This means be sure you are willing to let your guards and walls down so the reader can have access to the information they will get from your energy and guides etc.
  </p>

  <p>
    Write down specific questions if you feel this will give you a focal point and if your intention is to get a specific type of reading as opposed to a general all around reading.
  </p>

  <p>
    By doing all of these things you will increase the accuracy of the reading you get.  The reader will find it a much easier task to make sense of the messages they are receiving.  If you are calm and relaxed and focused the accuracy is increased.  If you are anxious and scattered and closed off, the reader will still get messages, but they will be reflective of your state of mind at that time.
  </p>

  <h2>What You Will Gain From Your Reading With I Heart Psychics:</h2>

  <p>
    Our goal is to give you the most accurate and positive reading possible.  We want to get you the answers you need to help you with  your decisions and allow you to see the paths to move forward and upward in your life.
  </p>

  <h2>Psychic Specialities</h2>

  <p>Each psychic on our line has the ability to  connect to the truth of your situation by using their particular intuitive gifts with or without the use of psychic reading tools. However; each psychic also has a specific area that they have finely tuned.  Usually this heightened ability in a given area is due to the reader’s own areas of interest.  As with all things in everyday life, when one finds something they excel at, they tend to focus and perfect those skills even more than their other abilities.  You will be able to see a reader’s areas of specialisation, gifts and the tools they use,  on the biographical section of their profile.  If you do not have access to this information, you can also request a specific speciality or reader by contacting our Customer Care Center and speaking to one of our Customer Care Specialists.
  </p>

  <h2>Abilities</h2>

  <p>
    Clairvoyance - Roughly translates into clear vision. It's the ability to see beyond what you can normally see. Seeing remotely, precognantly, spirit, aura, or energy.
  </p>

  <p>
    Clairaudient - Clear hearing, the ability to hear what others may be thinking or what the other side has to say (what your guides might be telling you). This includes pet and animals too.
  </p>

  <p>
    Clairsentient - The ability to feel beyond normal, feeling energy, sickness, picks up on messages that are beyond normal.
  </p>

  <p>
    Empathy - The ability to feel the emotions of others. It's an emotional connection with people places or things, including feel the pain of other people
  </p>

  <p>
    Medium - The ability to communicate with living things that have passed over or are no longer alive.  Mediums are different from Channelers because they communicate to spirit and relay a message.
  </p>

  <p>
    Channeler - An individual who channels a person’s spirit directly (the spirit actually communicates through the Reader).
  </p>

  <p>
    Dream Analysis - A Reader that can understand and give interpretations of dreams and the meanings of the symbolism there in.
  </p>

  <div>
    <ul>
      <span>Specialties</span>
      <li>Love and Relationships</li>
      <li>Career and Work</li>
      <li>Money and Finance</li>
      <li>Lost Objects</li>
      <li>Dream Interpretation</li>
      <li>Pet and Animals</li>
      <li>Past Lives</li>
      <li>Deceased</li>
    </ul>
  </div>

  <div>
    <ul>
      <span>Tools</span>
      <li>Tarot</li>
      <li>Oracle Cards</li>
      <li>Runes</li>
      <li>Crysatals</li>
      <li>Pendulum</li>
      <li>Numerology</li>
      <li>Astrology</li>
    </ul>
  </div>

  <h2>Style</h2>

  <p>
    Compassionate - The Reader has a natural compassionate nature. The Reader is nurturing and sensitive to the needs of the client.
  </p>

  <p>
    Inspirational - Reading will inspire the client and make them feel uplifted and filled with an insight and purpose.
  </p>

  <p>
    Straightforward - The Reader is direct and to the point. The reading will be honest, direct, and uncomplicated.
  </p>
</section>
