<section class="privacy small_container">

  <h1>Privacy Policy</h1>

  <p>
    THIS SERVICE IS FOR ENTERTAINMENT PURPOSES ONLY. YOU MUST BE EIGHTEEN YEARS OF AGE OR OLDER TO USE THE SITE.
  </p>

  <p>
    This Privacy Policy (the "Policy") applies to iheartpsychics.co (the "website").
  </p>

  <p>
    We are committed to the privacy of your personal information. This Policy applies only to iheartpsychics.co and not to any other sites. By using the website you accept our Policy. We may revise it at any time by updating the website. If you have any questions regarding this Policy, please contact us at:
  </p>

  <p>
    BD Entertainment Co.<br>
    3565 South Las Vegas Blvd. Suite 340<br>
    Las Vegas, Nevada 89109
  </p>

  <h3>Collected Information</h3>

  <p>
    When you purchase online, we collect and store the following personal information:
  </p>

  <ul>
    <li>Email Address</li>
    <li>Name</li>
    <li>Billing Address</li>
    <li>Telephone Number</li>
    <li>Credit Card Information</li>
  </ul>

  <p>
    We also collect and store the following technical information when you visit our site:
  </p>

  <ul>
    <li>IP Address</li>
    <li>Browser Type</li>
    <li>Site Usage</li>
  </ul>

  <h3>Email Marketing</h3>

  <p>
    Periodic email communications will be sent about I Heart Psychics news, information, or special offers. You will receive emails to alert you of the following: as confirmation of your new I Heart Psychics account, to confirm your transactions through iheartpsychics.co, to let you know about important changes and improvements to our service, and to send you notices or other disclosures where we are required by law. Because they are essential to your account and your relationship with I Heart Psychics, you are not able to opt out of these communications.
  </p>

  <h3>Email Subscriptions</h3>

  <p>
    If you would like to be removed from I Heart Psychics marketing communications lists, please provide us with the contact information required via any of the methods listed below so that we can promptly and accurately process your request. (In cases where we lack the necessary information, we will make our best efforts to comply with your request.)
  </p>

  <p>
    Send an email to us at support@iheartpsychics.com indicating your preferences.
  </p>

  <p>
    Write to us at: I Heart Psychics<br>
  Attn: Support<br>
  3565 South Las Vegas Blvd. Suite 340<br>
  Las Vegas, NV 89109
  </p>

  <h3>Our Psychics / Your Privacy</h3>

  <p>
    Note that our psychics are independent contractors and not employed directly by iheartpsychics.co. We contractually require that our psychics protect the privacy of your personal information consistent with this Privacy Policy and not use or disclose your personal information for any purpose other than providing you with the services you request through the Web site or by phone. You should also take care to protect your personal information and privacy. You should never provide any of our psychics with personal contact information, specific financial information including but not limited to account numbers, or other confidential information related to your identity. It is a violation of our Terms of Use for you to be in direct contact with any of our psychics outside the online service – if you do so, iheartpsychics.co. bears no liability for any resulting actions, and your ability to use our services may be revoked.
  </p>

  <h3>Retention of Your Data</h3>

  <p>
    We will retain your information for as long as your account is active or as needed to provide you services. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
  </p>

  <h3>Material Changes</h3>

  <p>
    Our business needs may change from time to time and we reserve the right to make changes to our Privacy Policy. Unless stated otherwise, our current Privacy Policy applies to all information that we have about you and your account. We will not materially change our policies and practices to make them less protective of customer information collected in the past without the consent of affected customers.
  </p>
</section>
