<section class="staff small_container">
  <h2>
    Welcome all I Heart Psychics employees!
  </h2>

  <p>
    Please sign in using the above in order to access your respective dashboard.<br>
    If you experience any issues logging in, please contact the IHP Customer Care Department at 1-855-550-8300.
  </p>
</section>
