<section class="terms small_container">

  <h1>Terms of Service</h1>

<p>FOR ENTERTAINMENT ONLY – </p>

<p>THIS SERVICE IS PROVIDED BY BD ENTERTAINMENT AND IS FOR ENTERTAINMENT PURPOSES ONLY.</p>

<p>YOU MUST BE EIGHTEEN YEARS OF AGE OR OLDER TO USE THIS SERVICE.  ALL CREDIT CARD PURCHASES MUST BE MADE BY THE CARD HOLDER.  OUR PSYCHICS MAKE EVERY EFFORT TO PROVIDE YOU WITH HELPFUL ADVICE.  HOWEVER, THIS INFORMATION SHOULD NOT BE USED IN PLACE OF ANY RECOMMENDATIONS BY MEDICAL OR OTHER PROFESSIONAL COUNSELORS.  IT IS YOUR RESPONSIBILITY TO EVALUATE ANY INFORMATION, OPINION, ADVICE OR OTHER CONTENT AVAILABLE THROUGH BD ENTERTAINMENT.</p>

<p>The access and use of the BD Entertainment website and services is governed by these Terms of Service. By using BD Entertainment, you acknowledge that you have read the Terms of Service and the disclaimers contained therein and that you accept and agree to be bound by the terms thereof. BD Entertainment reserves the right, at its sole discretion, to change these Terms of Service from time to time, and your access to the Web Site will be deemed to be your acceptance of, and agreement, to any such changed terms and conditions.</p>

<h3>PRIVACY POLICY</h3>

<p>We know that the privacy of your personal information is important to you. Therefore, we have a Privacy Policy which is part of this Agreement.</p>

<h3>RULES OF SERVICE</h3>

<p>We can refuse service to any person for any reason. We reserve the right to pursue legal action against any person who commits fraud, or otherwise violates applicable laws, on our Web Site or using our Services. Furthermore, a psychic reader has the right to terminate a call at any time if a customer’s comments and/or behavior is deemed by the reader to be inappropriate, abusive, or threatening. Readers will report the termination to Customer Service and such a customer may be denied future access. Any such report made by a reader to us shall not be deemed a violation of our Privacy Policy.</p>

<h3>OUR SATISFACTION GUARANTEE</h3>

<p>We don't guarantee that our psychics' predictions will come true, but we do our best to ensure that you enjoy the reading. To ensure your satisfaction with your reading experience, we offer a guarantee on your most recent paid reading. The rules with respect to credit for readings are as follows:</p>

<ul>
  <li>To apply for a credit, please contact Customer Service at Contact Us within 24 hours of the reading in question.</li>
  <li>We will credit your account for an amount determined at the sole discretion of BD Entertainment based on your reading length and circumstances. No credit granted can exceed the dollar equivalent of a 20 minute reading. Credit requests are limited to one unsatisfactory paid call per month.</li>
  <li>Our credit offer is valid once per psychic and does not apply to readings with psychics for whom you have received any credit in the past.</li>
  <li>No cash refunds.
  <li>For us to issue a credit to your member account, you must have an account that is in good standing.</li>
  <li>Only genuine issues relating to your satisfaction with the reading in question (as determined at our discretion) will be considered for a credit request. We reserve the right to refuse a refund.</li>
</ul>

<h3>LIMITATION ON LIABILITY AND DISCLAIMER OF WARRANTY</h3>

<ul>
  <li>Under no circumstances will we be liable to any Subscriber, non-Subscriber, Member or non-Member regarding the use of this Service. Our maximum liability shall be no more than the fee You have paid BD Entertainment, if any.</li>
  <li>The User of the website does so at the User's risk. Neither BD Entertainment nor any of its officers, directors, employees, agents, third-party content providers, merchants, sponsors licensors and/or the like, warrant that any of the websites will be uninterrupted or error-free; nor do they make any warranty as to the results that may be obtained from the use of the website or any future websites developed by BD Entertainment nor, as to the accuracy, reliability, or timeliness of any information content, service, or merchandise provided through the website. We do not guarantee that this site or emails from us will be free of viruses or harmful components. WE EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</li>
</ul>

<p class="privacy-important">Important Note: It is a violation of our Terms of Service for you to be in direct contact with any of our psychics outside the online service or to ask any of our psychics for their direct contact information - if you do so in violation of these terms, BD Entertainment bears no liability for any resulting actions, and your ability to use our services may be revoked. Any such activities in violation of our Terms of Service, may be reported to BD Entertainment by our psychics and any such reports shall not be deemed a violation of our Privacy Policy.</p>

<h3>INDEMNIFICATION</h3>

<p>We will retain your information for as long as your account is active or as needed to provide you services. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>

<h3>MISCELLANEOUS</h3>

<p>These Terms constitute the sole agreement between you and BD Entertainment and its affiliated entities relating to your use and our provision of the Web Site and the Services and the subject matter hereof. The laws of the State of Nevada govern these Terms in all respects, without giving effect to conflicts of laws principles. Any dispute or controversy between you and BD Entertainment and its affiliated entities, or arising under or concerning performance or breach of these Terms, shall be brought exclusively in the state and federal courts having jurisdiction over Las Vegas, Nevada and you irrevocably consent to the exclusive personal jurisdiction and venue of those courts for such purpose. Any cause of action brought by you against BD Entertainment or its affiliated entities must be instituted within one (1) year after the cause of action arises or be deemed forever waived and barred.</p>

</section>
