<section class="psychic-training small_container">
  <h2 class="section-title">
    <%= @training_item.title %>
  </h2>

  <div class="psychic-blank">
    This training material is not ready yet, please check
    back soon.
  </div>
</section>
