.how-it-works {
  margin-top: 100px;
}


.how-it-works h1 {
  font-size: 30px;
  font-weight: normal;
  color: #9d0095;
  margin-bottom: 30px;
}

.how-it-works h2 {
  margin-top: 60px;
  font-size: 30px;
  font-weight: normal;
  color: #9d0095;
}

.how-it-works p {
  color: #8590a1;
  margin-bottom: 20px;
}

.how-it-works ul {
  margin-top: 10px;
}

.how-it-works ul li {
  font-weight: 100;
}
