.training_items {
  .psychic-training {
    padding: 95px 0;
    color: #8590a1;

    td {
      font-weight: normal;
    }

    a {
      color: #8590a1;
    }
  }

  .training-section-title {
    color: #af00a5 !important;
  }

  .psychic-training-warning {
    margin-bottom: 40px;
    text-align: center;
    color: red;
  }
}
