<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      New message received from I Heart Psychics Contact Us page.
    </p>

    <table>
      <tr>
        <td><b>Name:</b></td>
        <td><%= @message.name %></td>
      </tr>
      <tr>
        <td><b>Email:</b></td>
        <td><%= @message.email %></td>
      </tr>
      <tr>
        <td><b>Phone:</b></td>
        <td><%= @message.phone %></td>
      </tr>
      <tr>
        <td><b>Suggestions:</b></td>
        <td><%= @message.suggestions %></td>
      </tr>
    </table>

    <p>
      Best,<br>
      I Heart Psychics
    </p>
  </body>
</html>
