<div class="horoscopes_sign <%= selected %>" data-sign="<%= sign.name %>">
  <%= render  "horoscopes/sign/horoscope", sign: sign %>
  <%= render  "horoscopes/sign/love_scope", 
              lovescope_horoscope: lovescope_horoscope %>
</div>