<div id="forgot_password_email_sent_modal" class="modal large">
  <header>
    <h1>Password Reset Request Sent</h1>
  </header>

  <div class="modal-body align-center">
    <p>
      An email with reset password instructions was sent to your email.
    </p>

    <footer>
      <%= link_to image_tag("modal/close_button_green.png"), "#", class: "close-button" %>
    </footer>
  </div>
</div>
