<div id="forgot_password_modal" class="modal large">
  <header>
    <h1>Forgot your passowrd?</h1>
  </header>

  <%= render "clients/modals/spinner" %>

  <div class="modal-body">
    <%= render "modals/password/forgot_password_form" %>
  </div>
</div>