<div id="reset_password_modal" class="modal large">
  <header>
    <h1>Change your password</h1>
  </header>

  <%= render "clients/modals/spinner" %>

  <div class="modal-body">
    <%= render "modals/password/reset_password_form" %>
  </div>
</div>