<div id="reset_password_success_modal" class="modal large">
  <header>
    <h1>Your password was changed!</h1>
  </header>

  <div class="modal-body align-center">
    You successfully reseted your password.
  </div>

  <footer>
    <%= link_to image_tag("modal/close_button.png"), "#", class: "close-button" %>
  </footer>
</div>
