<div id="message-modal" class="modal medium">
  <div class="modal-body callback-modal-body" style="text-align: center">
    <p>
      <%= message %>
    </p>

    <p>
      <a href="#" class="close-button"><%= image_tag "modal/close_button_green.png" %></a>
    </p>
  </div>
</div>
