<article class="compatibility">
  <header>
    <h1>Today's Friendship Compatibility</h1>
  </header>

  <%= image_tag "signs/#{horoscope.friendship_compatibility_from.downcase}.png" %>
  <%= image_tag "signs/#{horoscope.friendship_compatibility_to.downcase}.png" %>
</article>