<article class="compatibility">
  <header>
    <h1>Today's Love Compatibility</h1>
  </header>

  <%= image_tag "signs/#{horoscope.love_compatibility_from.downcase}.png" %>
  <%= image_tag "signs/#{horoscope.love_compatibility_to.downcase}.png" %>
</article>