<article class="love_scope">
  <header>
    <h1>Weekly Lovescope</h1>
    <time>
      <%= lovescope_horoscope.date.strftime("%A, %B %d, %Y") %>
    </time>
  </header>

  <p>
    <%= lovescope_horoscope.lovescope %>
  </p>
</article>