<p>
  Good Day IHP Recruiting Team!
</p>

<p>
  A potential new team member has submitted their application and is now
  awaiting your review. Please <%= link_to "click here",
  admin_psychic_application_url(@psychic) %> to review their submission and
  please respond promptly.
</p>

<p>
  Love and light,
</p>

<p>
  The I Heart Psychics team
</p>

<p>
   <%= ihp_url %>
</p>
