<p>
  Dear <%= @psychic.first_name %>,
</p>

<p>
  On behalf of the I Heart Psychics recruiting team we regret to inform you that
  your application to I Heart Psychics has been declined. We would like to thank
  you for your time and for submitting your application.
</p>

<p>
  Please feel free to contact recruiting@iheartpsychics.com in the event that you
  have any questions and/or concerns about your application and interview
  process.
</p>

<p>
  We hope that you choose to become a member of the I Heart Psychics community and
  wish you many blessings on your journey as a psychic.
</p>

<p>
  Love and light,
</p>

<p>
  The I Heart Psychics team
</p>

<p>
   <%= ihp_url %>
</p>
