<ul class="nav">
  <li><a href="#">Calls Summary</a></li>
  <li><%= link_to 'Pending Invoices', pending_admin_invoices_path %></li>
  <li><%= link_to 'Paid Invoices', paid_admin_invoices_path %></li>
</ul>
